.expand {
    left: 10px;
    top:75px;
    z-index: 99999;
    width: 30px;
    height: 30px;
    object-fit: cover;
    padding: 0;
    position: fixed;
}

.fixed-side-panel::-webkit-scrollbar {
    width: 0px;
}

.content-container {
    padding: 10px;
    margin-left: 26%;
    width: 74%;
}

.container {
    padding: 10px;
}

.grid-cell {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 200px;
    height: 270px;
    padding: 10px;
    margin: 10px;
}

.grid-cell img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.grid-cell p {
    margin: 0 auto;
    height: 50px;
    width: 100%;
    padding: 5px;
}

.grid-cell-price {
    margin: 0 auto;
    height: 1rem;
    width: 100%;
}

.grid-cell button {
    display: block;
    width: 100%;
}

.dropdown-category {
    /* margin-top: 1% !important; */
    font-size: 20px;
    width: 80%;
}

.dropdown-arrow {
    float: right;
    width: 20%;
    font-size: 20px;
}

/* /////////////////////////////////////////////////////////////////////////////// */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.5s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}