.expand {
    width: 30px;
    height: 30px;
    object-fit: cover;
    padding: 0;
}

.fixed-side-panel::-webkit-scrollbar {
    width: 0px;
}

.content-container {
    padding: 10px;
    margin-left: 26%;
    width: 74%;
}

.container {
    padding: 10px;
}

.grid-cell {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 200px;
    height: 270px;
    padding: 10px;
    margin: 10px;
}

.grid-cell img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.grid-cell p {
    margin: 0 auto;
    height: 50px;
    width: 100%;
    padding: 5px;
}

.grid-cell-price {
    margin: 0 auto;
    height: 1rem;
    width: 100%;
}

.grid-cell button {
    display: block;
    width: 100%;
}

.dropdown-category {
    /* margin-top: 1% !important; */
    font-size: 20px;
    width: 80%;
}

.dropdown-arrow {
    float: right;
    width: 20%;
    font-size: 20px;
}

/* /////////////////////////////////////////////////////////////////////////////// */

.submenua {
    display: block;
    background: #444359;
    font-size: 14px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}


li{
    list-style-type: none;
}
.submenu {
    display: none;
    background: #444359;
    font-size: 14px;

}

.submenu li {
    border-bottom: 1px solid #4b4a5e;
    
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;

}
.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.accordion {
    width: 100%;
    max-width: 360px;
    margin: 30px auto 20px;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}
