<div class="container">
    <button class="btn btn-primary" (click)="location.back();">Back</button>
</div>
<div class="inline-block-half">
    <img [attr.src]="itemToDisplay?.imagelink" [attr.alt]="itemToDisplay?.name" class="img-item-4">
</div>

<div class="inline-block-half centered-text">
    <br>
    <br>
    <h2> {{itemToDisplay?.name}} </h2>
    <br>
    <br>
    <h6> The product is Rated at
        <br>
        <br> {{itemToDisplay?.rating}} Out of 5
    </h6>
    <br>
    <br>
    <h6>Price: {{itemToDisplay?.price}}$</h6>

    <br>
    <br>

    <h6>Description: {{itemToDisplay?.description}}</h6>

    <br>
    <br>
    <!--     
    <form id = "quantity-form" method="POST"  action="http://127.0.0.1:3000/posts">
        <input class="btn btn-primary" type="submit" value="Add to Cart">
    </form> 
    -->

    <label>Quantity:</label>
    <span class="invisible">iii</span>
    <select #quanSelector (change) = "selectedQuantity= +quanSelector.value" class="btn btn-light" form="quantity-form" name="quantity" autocomplete="off">
        <option *ngFor="let dummy of ' '.repeat(itemToDisplay?.stock).split(''), let x = index" value="{{x+1}}">{{x+1}}</option>
    </select>
    <br>
    <br>
    <button class="btn btn-success" (click)="Cart.addItemToCart(itemToDisplay,selectedQuantity)">Add To Cart</button>



</div>