<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-half">
        <img class="img-item-2" src="https://images.pexels.com/photos/5317/food-salad-restaurant-person.jpg?dl&fit=crop&crop=entropy&w=1920&h=1331"
          alt="First slide">
      </div>
      <div class="carousel-half">
        <img class="img-item-4" src="https://images.pexels.com/photos/5317/food-salad-restaurant-person.jpg?dl&fit=crop&crop=entropy&w=1920&h=1331"
          alt="First slide">
        <img class="img-item-4" src="https://images.pexels.com/photos/5317/food-salad-restaurant-person.jpg?dl&fit=crop&crop=entropy&w=1920&h=1331"
          alt="First slide">
      </div>
    </div>
    <div class="carousel-item">

      <div class="carousel-half">
        <img class="img-item-4" src="https://images.pexels.com/photos/5317/food-salad-restaurant-person.jpg?dl&fit=crop&crop=entropy&w=1920&h=1331"
          alt="First slide">
        <img class="img-item-4" src="https://images.pexels.com/photos/5317/food-salad-restaurant-person.jpg?dl&fit=crop&crop=entropy&w=1920&h=1331"
          alt="First slide">
      </div>
      <div class="carousel-half">
        <img class="img-item-2" src="https://images.pexels.com/photos/5317/food-salad-restaurant-person.jpg?dl&fit=crop&crop=entropy&w=1920&h=1331"
          alt="First slide">
      </div>

    </div>
    <div class="carousel-item">
      <div class="carousel-half">
        <img class="img-item-2" src="https://images.pexels.com/photos/5317/food-salad-restaurant-person.jpg?dl&fit=crop&crop=entropy&w=1920&h=1331"
          alt="First slide">
      </div>
      <div class="carousel-half">
        <img class="img-item-4" src="https://images.pexels.com/photos/5317/food-salad-restaurant-person.jpg?dl&fit=crop&crop=entropy&w=1920&h=1331"
          alt="First slide">
        <img class="img-item-4" src="https://images.pexels.com/photos/5317/food-salad-restaurant-person.jpg?dl&fit=crop&crop=entropy&w=1920&h=1331"
          alt="First slide">
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<button [attr.class]="togglerBtnClasses" (click) = "toggleCarousel()" > {{togglerString}}</button>
<div>
{{Inventory.currentInventory}}
</div>