.img-item-4 {
    height: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5%;
    object-fit: fill;
    width: 100%;
}

.img-item-2 {
    height: 102%;
    display: block;
    margin: 0 auto;
    object-fit: fill;
    width:100%;    
}

.carousel-half {
    width: 50%!important;
    display: inline-block;
    padding: 1px!important;
    height: 500px;
    
}
.carousel-item{
    background-color: black!important;
}

.btn{
    margin: 0 auto;
}