.carousel-half {
    width: 50%!important;
    display: inline-block;
    padding: 1px!important;
    height: 500px;
    
}
.carousel-item{
    background-color: black!important;
}

.btn{
    align-self:center;
    left:50%;
}